<html> 
	<head><%- include('./partials/script.ejs'); -%>  </head>
	<title> Error 404 </title> 

	<%- include('./partials/navbar.ejs'); -%> 
	
	<body>
	<%- include('./partials/error_jumbotron.ejs'); -%> 
	</body> 
</html> 
